@import "mytheme.scss";
@import "addons.scss";

// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in mytheme.scss

.mytheme {
  @include addons;
  @include mytheme;
  
  $nav-collapsed-width: 40px;
  $nav-expanded-width: 200px;
  
  .root-layout {
  	.nav {
  	  width: $nav-collapsed-width;
  	  transition: width 1s;
  	  background-color: green;
  	}
    .grid-wrapper {
      width: calc(100% - $nav-collapsed-width);
    }
    &.nav-expanded {
	  	.nav {
	  	  width: $nav-expanded-width;
	  	}
	    .grid-wrapper {
	      width: calc(100% - $nav-expanded-width);
	    }
    }
  }
}